# source
**/*.ts
*.ts

# definitions
!**/*.d.ts
!*.d.ts

#source and test files
src/
.github/
test/
example.db

# configuration
package-lock.json
tslint.json
tsconfig.json
.prettierrc
yarn.lock
yarn-error.log